In [1]:
import numpy as np
import pandas as pd

# 1. Silver Layer

In [2]:
dfB = pd.read_csv('data_lakehouse/bronze/starB.csv')
dfB

,recno,subCl,SpT,Teff1,logg1,FeH1,Vmag,Teff2,logg2,FeH2,Rad,Mass,Lum
0,1,F0,kA7hF3mF2,7080.0,4.178,-0.148,10.907,7078.0,3.4750,-0.151,3.797,1.570,32.60238
1,2,A6IV,kA7hF0mF0,7404.0,4.069,0.031,10.410,7405.0,4.2137,0.032,1.684,1.691,7.68098
2,3,F0,kA7hF1mF0,7330.0,4.102,-0.133,14.155,7331.0,4.3672,-0.133,1.398,1.660,5.08514
3,4,A7V,kA5hA4mA9,7218.0,4.182,-0.300,13.497,7220.0,4.2537,-0.301,1.574,1.620,6.06511
4,5,A7V,kA2hA8mA9,NaN,NaN,NaN,12.552,7667.0,3.9027,NaN,2.485,1.800,19.22473
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21630,21631,F0,kA7hF0mF0,7357.0,3.913,0.236,13.035,7358.0,3.7906,0.235,2.723,1.670,19.58132
21631,21632,F0,kA2hF0mF2,7380.0,3.836,0.559,14.341,6798.0,3.8803,NaN,2.296,1.460,10.14622
21632,21633,F0,kA7hF2mF0,7061.0,4.112,-0.371,15.425,6974.0,4.1349,NaN,1.754,1.530,6.55372
21633,21634,A7,kA3hA5mA7,NaN,NaN,NaN,15.866,6228.0,4.5680,NaN,0.943,1.200,1.20602
21634,21635,F0,kA5hA7mA9,7393.0,4.038,-0.147,12.290,7394.0,4.2558,-0.145,1.603,1.690,6.92185

In [3]:
dfB.dtypes

recno      int64
subCl     object
SpT       object
Teff1    float64
logg1    float64
FeH1     float64
Vmag     float64
Teff2    float64
logg2    float64
FeH2     float64
Rad      float64
Mass     float64
Lum      float64
dtype: object

In [4]:
# Remove 'subCl', insert new columns after first column, and drop NaN rows
dfS = dfB.copy()
dfS[['Class', 'SubClass', 'Luminosity Class']] = dfB['subCl'].str.extract(r'(.)(.)(.*)')
dfS.insert(1, 'Class', dfS.pop('Class'))  
dfS.insert(2, 'SubClass', dfS.pop('SubClass'))  
dfS.insert(3, 'Luminosity Class', dfS.pop('Luminosity Class'))  
#dfS = dfS.drop('subCl', axis=1).dropna()  
dfS

,recno,Class,SubClass,Luminosity Class,subCl,SpT,Teff1,logg1,FeH1,Vmag,Teff2,logg2,FeH2,Rad,Mass,Lum
0,1,F,0,,F0,kA7hF3mF2,7080.0,4.178,-0.148,10.907,7078.0,3.4750,-0.151,3.797,1.570,32.60238
1,2,A,6,IV,A6IV,kA7hF0mF0,7404.0,4.069,0.031,10.410,7405.0,4.2137,0.032,1.684,1.691,7.68098
2,3,F,0,,F0,kA7hF1mF0,7330.0,4.102,-0.133,14.155,7331.0,4.3672,-0.133,1.398,1.660,5.08514
3,4,A,7,V,A7V,kA5hA4mA9,7218.0,4.182,-0.300,13.497,7220.0,4.2537,-0.301,1.574,1.620,6.06511
4,5,A,7,V,A7V,kA2hA8mA9,NaN,NaN,NaN,12.552,7667.0,3.9027,NaN,2.485,1.800,19.22473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21630,21631,F,0,,F0,kA7hF0mF0,7357.0,3.913,0.236,13.035,7358.0,3.7906,0.235,2.723,1.670,19.58132
21631,21632,F,0,,F0,kA2hF0mF2,7380.0,3.836,0.559,14.341,6798.0,3.8803,NaN,2.296,1.460,10.14622
21632,21633,F,0,,F0,kA7hF2mF0,7061.0,4.112,-0.371,15.425,6974.0,4.1349,NaN,1.754,1.530,6.55372
21633,21634,A,7,,A7,kA3hA5mA7,NaN,NaN,NaN,15.866,6228.0,4.5680,NaN,0.943,1.200,1.20602
21634,21635,F,0,,F0,kA5hA7mA9,7393.0,4.038,-0.147,12.290,7394.0,4.2558,-0.145,1.603,1.690,6.92185

In [5]:
dfS.columns

Index(['recno', 'Class', 'SubClass', 'Luminosity Class', 'subCl', 'SpT',
       'Teff1', 'logg1', 'FeH1', 'Vmag', 'Teff2', 'logg2', 'FeH2', 'Rad',
       'Mass', 'Lum'],
      dtype='object')

In [9]:
# Split SpT into components (e.g., "kA7hF3mF2" → kA7, hF3, mF2)

dfS[['Ca_K', 'H_lines', 'Metal_lines']] = dfB[['Ca_K', 'H_lines', 'Metal_lines']] = dfB['SpT'].str.extract(
    r'k([A-Z]\d+)?h([A-Z]\d+)?m([A-Z]\d+)?'
)

# Optional: Extract numeric subtypes (e.g., A7 → 7)
#dfS.insert(0, r'Code', dfS.pop('Code'))  
#dfS.insert(1, r'Ca_K', dfS.pop('Ca_K'))  
#dfS.insert(2, r'H_L', dfS.pop('H_lines'))  
#dfS.insert(3, r'FeH', dfS.pop('Metal_lines')) 
# dfG.insert(0, r'$\text{Code}$', dfG.pop('recno'))  
# dfG.insert(1, r'$\text{Ca}_{\text{K}}$', dfG.pop('Ca_K'))  
# dfG.insert(2, r'$\text{H}_{\text{L}}$', dfG.pop('H_lines'))  
# dfG.insert(3, r'$\text{FeH}$', dfG.pop('Metal_lines'))  
# dfG.insert(4, r'$T_1$', dfG.pop('Teff1'))  
# dfG.insert(5, r'$\log g1$', dfG.pop('logg1'))
# dfG.insert(6, r'$\text{FeH}_1$', dfG.pop('FeH1'))
# dfG.insert(7, r'$T_2$', dfG.pop('Teff2'))  
# dfG.insert(8, r'$\log g2$', dfG.pop('logg2'))
# dfG.insert(9, r'$\text{FeH}_2$', dfG.pop('FeH2'))
# dfG.insert(10, r'$\text{Vmag}$', dfG.pop('Vmag'))
# dfG.insert(11, r'$M$', dfG.pop('Mass'))
# dfG.insert(12, r'$\text{L}$', dfG.pop('Lum'))
# dfG.insert(13, r'$\text{Rad}$', dfG.pop('Rad'))

# Clean up: Drop original SpT column and remove rows with missing spectral data
## dfF sera prenchindo com os valores médios onde tem missing value, ai vou retirar as colunas FeH1, FeH2, Rad, Lum por causa do std() muito grande 
#dfS= dfS.drop(['SpT'], axis=1)
#dfS.drop(['SpT','subCl'], axis=1).to_csv('data_lakehouse/silver/starS.csv', index=False)  
#dfGS = dfGS.drop(['SpT','subCl'], axis=1).dropna()

# snake_case
dfS = dfS.rename(columns={
    'recno': 'id',
    'Class': 'class',
    'SubClass': 'sub_class',
    'Luminosity Class': 'luminosity_class',
    'SubCl': 'sub_class',
    'SpT': 'spt',
    'Teff1': 'effective_temperature_1',
    'logg1': 'log_surface_gravity_1',
    'FeH1': 'metallicity_fe_h_1',
    'Vmag': 'visual_magnitude',
    'e_Vmag': 'visual_magnitude_error',
    'Teff2': 'effective_temperature_2',
    'logg2': 'log_surface_gravity_2',
    'FeH2': 'metallicity_fe_h_2',
    'Rad': 'radius',
    'Mass': 'mass',
    'Lum': 'luminosity',
    'Ca_K': 'ca_k',
    'H_lines': 'h_lines',
    'Metal_lines': 'metal_lines'
})


dfS.to_csv('data_lakehouse/silver/starS.csv', index=False)  
#print(dfG)
#print(dfF)
dfS

,id,class,sub_class,luminosity_class,subCl,spt,effective_temperature_1,log_surface_gravity_1,metallicity_fe_h_1,visual_magnitude,...,log_surface_gravity_2,metallicity_fe_h_2,radius,mass,luminosity,ca_k,h_lines,metal_lines,ca_k,h_lines
0,1,F,0,,F0,kA7hF3mF2,7080.0,4.178,-0.148,10.907,...,3.4750,-0.151,3.797,1.570,32.60238,A7,F3,F2,A7,F3
1,2,A,6,IV,A6IV,kA7hF0mF0,7404.0,4.069,0.031,10.410,...,4.2137,0.032,1.684,1.691,7.68098,A7,F0,F0,A7,F0
2,3,F,0,,F0,kA7hF1mF0,7330.0,4.102,-0.133,14.155,...,4.3672,-0.133,1.398,1.660,5.08514,A7,F1,F0,A7,F1
3,4,A,7,V,A7V,kA5hA4mA9,7218.0,4.182,-0.300,13.497,...,4.2537,-0.301,1.574,1.620,6.06511,A5,A4,A9,A5,A4
4,5,A,7,V,A7V,kA2hA8mA9,NaN,NaN,NaN,12.552,...,3.9027,NaN,2.485,1.800,19.22473,A2,A8,A9,A2,A8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21630,21631,F,0,,F0,kA7hF0mF0,7357.0,3.913,0.236,13.035,...,3.7906,0.235,2.723,1.670,19.58132,A7,F0,F0,A7,F0
21631,21632,F,0,,F0,kA2hF0mF2,7380.0,3.836,0.559,14.341,...,3.8803,NaN,2.296,1.460,10.14622,A2,F0,F2,A2,F0
21632,21633,F,0,,F0,kA7hF2mF0,7061.0,4.112,-0.371,15.425,...,4.1349,NaN,1.754,1.530,6.55372,A7,F2,F0,A7,F2
21633,21634,A,7,,A7,kA3hA5mA7,NaN,NaN,NaN,15.866,...,4.5680,NaN,0.943,1.200,1.20602,A3,A5,A7,A3,A5
21634,21635,F,0,,F0,kA5hA7mA9,7393.0,4.038,-0.147,12.290,...,4.2558,-0.145,1.603,1.690,6.92185,A5,A7,A9,A5,A7

# 2. Gold Layer

In [8]:
import pandas as pd
from datetime import datetime

# Assume que dfS já existe
dfG = pd.DataFrame(columns=dfS.columns.tolist() + ['created_date', 'last_updated_date'])

# Data atual
now = datetime.now()

# Função para inserir ou atualizar
def update_or_create(dfG, dfS):
    dfG = dfG.copy()

    for _, row in dfS.iterrows():
        code = row['id']

        # Verifica se o código já existe em dfG
        existing = dfG[dfG['id'] == code]

        if not existing.empty:
            # Existe -> cria novo registro copiando todas as colunas
            new_row = row.to_dict()
            new_row['created_date'] = now
            new_row['last_updated_date'] = now
            dfG = pd.concat([dfG, pd.DataFrame([new_row])], ignore_index=True)
        else:
            # Não existe -> cria novo registro copiando todas as colunas
            new_row = row.to_dict()
            new_row['created_date'] = now
            new_row['last_updated_date'] = now
            dfG = pd.concat([dfG, pd.DataFrame([new_row])], ignore_index=True)
    
    return dfG

# Atualiza dfG baseado em dfS
dfG = update_or_create(dfG, dfS)
dfG.to_csv('data_lakehouse/gold/starG.csv', index=False)  
dfG

/tmp/ipykernel_166889/3847174110.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dfG = pd.concat([dfG, pd.DataFrame([new_row])], ignore_index=True)

,id,class,sub_class,luminosity_class,subCl,spt,effective_temperature_1,log_surface_gravity_1,metallicity_fe_h_1,visual_magnitude,...,log_surface_gravity_2,metallicity_fe_h_2,radius,mass,luminosity,ca_k,h_lines,Metal_lines,created_date,last_updated_date
0,1,F,0,,F0,kA7hF3mF2,7080.0,4.178,-0.148,10.907,...,3.4750,-0.151,3.797,1.570,32.60238,A7,F3,F2,2025-04-28 14:41:10.810199,2025-04-28 14:41:10.810199
1,2,A,6,IV,A6IV,kA7hF0mF0,7404.0,4.069,0.031,10.410,...,4.2137,0.032,1.684,1.691,7.68098,A7,F0,F0,2025-04-28 14:41:10.810199,2025-04-28 14:41:10.810199
2,3,F,0,,F0,kA7hF1mF0,7330.0,4.102,-0.133,14.155,...,4.3672,-0.133,1.398,1.660,5.08514,A7,F1,F0,2025-04-28 14:41:10.810199,2025-04-28 14:41:10.810199
3,4,A,7,V,A7V,kA5hA4mA9,7218.0,4.182,-0.300,13.497,...,4.2537,-0.301,1.574,1.620,6.06511,A5,A4,A9,2025-04-28 14:41:10.810199,2025-04-28 14:41:10.810199
4,5,A,7,V,A7V,kA2hA8mA9,NaN,NaN,NaN,12.552,...,3.9027,NaN,2.485,1.800,19.22473,A2,A8,A9,2025-04-28 14:41:10.810199,2025-04-28 14:41:10.810199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21630,21631,F,0,,F0,kA7hF0mF0,7357.0,3.913,0.236,13.035,...,3.7906,0.235,2.723,1.670,19.58132,A7,F0,F0,2025-04-28 14:41:10.810199,2025-04-28 14:41:10.810199
21631,21632,F,0,,F0,kA2hF0mF2,7380.0,3.836,0.559,14.341,...,3.8803,NaN,2.296,1.460,10.14622,A2,F0,F2,2025-04-28 14:41:10.810199,2025-04-28 14:41:10.810199
21632,21633,F,0,,F0,kA7hF2mF0,7061.0,4.112,-0.371,15.425,...,4.1349,NaN,1.754,1.530,6.55372,A7,F2,F0,2025-04-28 14:41:10.810199,2025-04-28 14:41:10.810199
21633,21634,A,7,,A7,kA3hA5mA7,NaN,NaN,NaN,15.866,...,4.5680,NaN,0.943,1.200,1.20602,A3,A5,A7,2025-04-28 14:41:10.810199,2025-04-28 14:41:10.810199
21634,21635,F,0,,F0,kA5hA7mA9,7393.0,4.038,-0.147,12.290,...,4.2558,-0.145,1.603,1.690,6.92185,A5,A7,A9,2025-04-28 14:41:10.810199,2025-04-28 14:41:10.810199